---
- hosts: all
  become: true 
  tasks:

    - name: Update yum package
      command: yum update -y

    - name: Install Git
      yum:
        name: git
        state: latest

    - name: Package installer for Docker
      yum:
        name: docker
        state: latest

    - name: Enable and start docker service 
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create a new primary partition
      parted:
        device: /dev/xvdf
        number: 1
        state: present

    - name: Formats volume
      filesystem:
        fstype: ext4
        dev: /dev/xvdf

    - name: Mount formatted volume on /data
      mount:
        path: /data
        src: /dev/xvdf
        fstype: ext4
        state: mounted

    - name: Pull Jenkins image
      command: docker pull jenkins/jenkins:lts-jdk11

    - name: Create data directory
      file:
        path: /data
        state: directory

    - name: Run Jenkins container
      command: docker run -dit --name jenkins -u root -p 8080:8080 -v /data/:/var/jenkins_home jenkins/jenkins:lts-jdk11

    # making a workspace and job directory becuase this dir are created when we create a job,
    # but we want to bind /data/workspace/website to htdocs
    - name: Create workspace directory for jenkins job
      file:
        path: /data/workspace/website
        state: directory

    - name: Pull Apache image
      command: docker pull httpd

    - name: Run Apache
      command: docker run -dit --name apache -p 80:80 -v /data/workspace/website:/usr/share/local/apache2/htdocs/ httpd

    - name: Echo initial Jenkins password
      command: cat initialAdminPassword
      register: output
      args:
        chdir: /data/secrets/
    - debug: var=output.stdout_lines
