@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 3rem;

  /* Custom colors */
  --hue-color: 240;
  --primary-color: #300;
  --secondary-color: hsl(var(--hue-color), 69%, 61%);
  --alt-color: hsl(var(--hue-color), 57%, 53%);
  --lighter-color: hsl(var(--hue-color), 92%, 85);

  /* Text colors */
  --title-color: #300;
  --text-primary: #000;
  --text-secondary: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);

  /* Box colors */
  --body-color: hsl(var(--hue-color), 60%, 99%);

  --container-color: #fff;
  /* Custom font sizes */
  --big-font-size: 2rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;

  /* font weight */
  --font-medium: 500;
  --font-semibold: 600;

  /* margins */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /* Stacking */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Base */
body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  height: 90vh;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.grid {
  display: grid;
  gap: 1rem;
}

.container {
  height: 100%;
  max-width: 960px;
  border: solid #000 1px;
  margin: 1rem 1.5rem 1rem;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

/* Navbar */
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  margin: 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
}

.nav-logo,
.menu-toggle,
.theme-toggle {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  cursor: pointer;
}

.nav-logo {
  font-size: var(--h1-font-size);
  font-family: "Marck Script";
}

.menu-btns {
  display: flex;
  gap: 1rem;
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.menu-close {
  position: absolute;
  right: 1.3rem;
  cursor: pointer;

}

/* Need to initialize first before 'show-menu' is called */
@media screen and (max-width: 690px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.show-menu {
  bottom: 0;
}

/* Sections */

/* Container */
.section-container {
  gap: 1 rem;
  padding-top: 4rem;
  height: 100vh;
  animation: transitionIn;
  scroll-snap-align: start;
}

/* Home */
.home-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About */
.about-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout & Media Queries */

@media screen and (min-width: 691px) {
  .header {
    top: 0;
    position: fixed;
    bottom: initial;
  }

  .nav-menu {
    display: flex;
  }

  .nav-list {
    display: flex;
  }

  .link-icon,
  .menu-btns {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Animations, Effects, Transitions */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: (1);
    transform: translateY(0);
  }
}
